@(params: List[(String, String, String)])

@main("Stocks Wallet") {
  <h1>Your Stocks</h1>

  <ul>@for(p <- params) {
    <li><a href="/chart/@{p._1}/@{p._2}/@{p._3}">@{p._1}</a></li>  
  }</ul>

  <h2>Add Stock</h2>
  <form action="/userStocks/add" method="POST">
    <label for="new_ticker">Ticker:</label><br>
    <input type="text" id="new_ticker" name="new_ticker"><br>
    <label for="buy_date">Buy date:</label><br>
    <input type="text" id="buy_date" name="buy_date"><br>
    <label for="shares">Shares:</label><br>
    <input type="number" id="shares" name="shares"><br>
    <input type="submit" value="Add">
  </form> 
}
